{% extends "makeupbase.html" %} {% block content %}

<div style="margin: 100px">
  <h1 class="text-center text-dark">PAYMENTS</h1>
  <table class="table table-hover table-striped table-dark">
    <tr>
      <th>Total</th>
      <th>Customer</th>
      <th>My Amount</th>

      <th>Date</th>
    </tr>
    {% for d in data %}
    <tr>
      <td>{{d.totamt}}</td>
      <td style="font-size: 30px">{{d.customer.name}}</td>
      <td>{{d.makeupamt}}</td>

      <td>{{d.date}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
